body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto";
}

.footer {
    margin-top: auto;
    justify-content: center;
}

.header {
    justify-content: space-between;
    padding-bottom: 24px;
}

.header, .footer, .description {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.description {
    gap: 18px;
    padding-bottom: 60px;
}

.header, .description {
    padding-left: 100px;
    padding-right: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    font-size: 48px;
    font-weight: bolder;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
}


.testimony {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.testimonial {
    font-size: 36px;
    color: #1F2937;

}

.reviewer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

button, .mailing-list {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.mailing-list {
    margin: 50px 70px;
    padding: 30px;
    display: flex;
    gap: 30px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px #f9faf8 solid;
    flex-shrink: 0;
    align-self: flex-start;
}

.information {
    text-align: center;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    margin: 20px;
}

.info-sections {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}